.poke-headers {
  display: flex;
  border-top: 1px solid teal;
}

.tb-entry {
  display: flex;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 13px;
  justify-content: center;
}

.poke-stats {
  display: flex;
}

.poke-headers > h4:nth-child(1) {
  min-width: 40px;
  flex: 10 1;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
  border-left: 1px solid teal;
}

.poke-stats > div:nth-child(1) {
  min-width: 40px;
  flex: 10 1;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
  border-left: 1px solid teal;
}

.poke-headers>h4:nth-child(2) {
  flex: 50 1;
  min-width: 250px;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
}

.poke-stats>div:nth-child(2) {
  flex: 50 1;
  min-width: 250px;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
}

.poke-headers > h4:nth-child(3) {
  min-width: 70px;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
  flex: 10 1;
}

.poke-stats > div:nth-child(3) {
  min-width: 70px;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
  flex: 10 1;
}

.poke-headers > h4:nth-child(4) {
  min-width: 70px;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
  flex: 10 1;
}

.poke-stats > div:nth-child(4) {
  min-width: 70px;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
  flex: 10 1;
}

.poke-headers > h4:nth-child(5) {
  min-width: 70px;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
  flex: 10 1;
}

.poke-stats > div:nth-child(5) {
  min-width: 70px;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
  flex: 10 1;
}

.poke-headers > h4:nth-child(6) {
  min-width: 70px;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
  flex: 10 1;
}

.poke-stats > div:nth-child(6) {
  min-width: 70px;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
  flex: 10 1;
}

.poke-headers > h4:nth-child(7) {
  min-width: 70px;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
  flex: 10 1;
}

.poke-stats > div:nth-child(7) {
  min-width: 70px;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
  flex: 10 1;
}

.pokemon-table {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 20px;
  text-align: center;
}

/* .pokemon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
} */